body{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.titulo {    
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #FFCA3A;
    font-size: 90px;  
    font-weight: bold;
    text-align: right;
    background: linear-gradient(90deg, rgba(255,89,94,1) 0%, rgba(255,202,58,1) 72%);
    color:white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    
}


