<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="card.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="contenedor"> 
            <div class="card">
                <img class="card-img" src="bmw.jpg" >
                <div  class="contenido">
                    <h1>1bmw</h1>
                    <p>El modelo de moto BMW 1250 GS, con mayor potencia que nunca, es perfecta tanto para ciudad, carretera, y por supuesto, caminos. Con un motor bicilíndrico boxer de 136cV de potencia, para una mayor eficiencia pero a su vez una conducción suave.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img" src="bmw.jpg" >
                <div  class="contenido">
                    <h1>2bmw</h1>
                    <p>El modelo de moto BMW 1250 GS, con mayor potencia que nunca, es perfecta tanto para ciudad, carretera, y por supuesto, caminos. Con un motor bicilíndrico boxer de 136cV de potencia, para una mayor eficiencia pero a su vez una conducción suave.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img" src="bmw.jpg" >
                <div  class="contenido">
                    <h1>3bmw</h1>
                    <p>El modelo de moto BMW 1250 GS, con mayor potencia que nunca, es perfecta tanto para ciudad, carretera, y por supuesto, caminos. Con un motor bicilíndrico boxer de 136cV de potencia, para una mayor eficiencia pero a su vez una conducción suave.</p>
                </div>
            </div>
        </div>



    </body>
</html>
