body{
    font-family: 'Roboto', sans-serif;
    font-size:  12px;
}

nav {
  display:flex;
  background-color: green;
  padding:10px;
   color:white;
  justify-content:space-between;
}

nav ul {
   display:flex;
}

nav li{
   padding-right:10px;
  list-style:none;
}


